@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-700;
}

p {
  @apply text-sm text-gray-500;
}

.fileInput {
  @apply overflow-hidden absolute opacity-0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}

.fileInput + label {
  @apply border border-gray-700 rounded-lg text-sm font-semibold inline-block cursor-pointer px-6 py-3;
}

.inputfile + label * {
  @apply pointer-events-none;
}

.fileInput:focus + label,
.fileInput + label:hover {
  @apply bg-gray-100 duration-300;
}
