@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-700;
}

p {
  @apply text-sm text-gray-500;
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;
  gap: 5px;
  animation: l3-0 1s infinite;
  transform-origin: 50% calc(100% + 2.5px);
}
.loader:before,
.loader:after {
  content: "";
  width: 40px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
}
.loader:after {
  transform-origin: -2.5px calc(100% + 2.5px);
  animation: l3-1 1s infinite;
}
@keyframes l3-1 {
  50%,
  100% {
    transform: rotate(180deg);
  }
}
@keyframes l3-0 {
  0%,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.fileInput {
  @apply overflow-hidden absolute opacity-0;
  width: 0.1px;
  height: 0.1px;
  z-index: -1;
}

.fileInput + label {
  @apply border border-gray-700 rounded-lg text-sm font-semibold inline-block cursor-pointer px-6 py-3;
}

.inputfile + label * {
  @apply pointer-events-none;
}

.fileInput:focus + label,
.fileInput + label:hover {
  @apply bg-gray-100 duration-300;
}
